[2022-10-11 01:16] ygag-aseem opened #2019 "Getting AuthInvalidParameterException: {"AppCognitoWebDomain":"invalid"}"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Kotlin - Coroutines

### Amplify Categories

Authentication

### Gradle script dependencies

<details>
api('com.amplifyframework:

[2022-10-11 01:33] wangf1978 commented on #2013
Dear amplify-android teams,

We have a product which will be deployed at the end of this month, the web/ios platform works well, but now it is blocked by this issue in android platform. In a short word, is it possible to provide a way with amplify-android to bring some information into AWS Coginito [Post confirmation Lambda trigger](https://docs.aws.amazon.com/cognito/latest/developerguide/user-po

[2022-10-11 06:05] kingmarleycoffee commented on #2017
Hi @chrisbonifacio can you please mention the Android repo that issue transferred to

[2022-10-11 06:37] RamaTechnology opened #2020 "GraphQL query processing slowly and showing "Long monitor contention""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Kotlin

### Amplify Categories

GraphQL API, DataStore

### Gradle script dependencies

api, flutter

### Environment information

[2022-10-11 11:30] #2019 closed

[2022-10-11 14:14] tylerjroach commented on #2013
@wangf1978 Thank you for such a well structured and detailed report! I'm still digging into this, but it does appear to be a bug. I'll follow up with you when I have finished researching.

[2022-10-11 18:16] tylerjroach commented on #1693
The issue here is that Java8 and desugaring have not been enabled. If these options are configured as instructed in the documentation, API 21+ will work. There is another issue in DataStore not supporting down to 16 due to an OkHttp 4 dependency.

https://docs.amplify.aws/lib/datastore/getting-started/q/platform/android/#install-amplify-libraries

[2022-10-11 18:16] #1693 closed

[2022-10-11 18:38] AnilMaktala commented on #1945
Hi @AsitDixit 👋 , Yes it is possible. Please use "And" or "or" instead of || symbol.
ex:  ModelQuery.list(Todo.class,Todo.NAME.eq("5").and(Todo.PRIORITY.between("NORMAL","HIGH"))).

[2022-10-12 18:13] AnilMaktala commented on #1660
@maheshordex @PeterSchoell  @shri-onecup we are not able to replicate this issue on our side. are you able to provide us the reproducible sample app or invite us to private repo? we still happy to hop on a call with you. please let us know.

[2022-10-12 18:41] AnilMaktala commented on #1772
@PS-MS @MorCohenAres we are currently on a feature that will resolve this issue. we will update the ticket once it is released.

[2022-10-13 01:37] wangf1978 commented on #2013
@tylerjroach I have the same concern with you in code commit comment, if validationData is nil, it will cause another issue, the pre authentication lambda trigger can't have validationData, according to our test, although amplify-ios passed the nil value, but finally it seems it fills validationData with clientMetadata in somewhere, we didn't dig into this case in amplify-ios.
In amplify-js, there

[2022-10-14 04:27] zeroarst commented on #1990
I am having the same issue... is there any workdaround to sign out user for now?

[2022-10-14 15:30] tylerjroach opened #2033 "Exponential Backoff for Pinpoint 429 Response Code"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Kotlin

### Amplify Categories

Analytics

### Gradle script dependencies

<details>

[code]

</details>

### Environment informa

[2022-10-17 13:12] msfstef commented on #1607
Are there any updates on this feature?
It is currently supported on the JS SDK and migrating an app to any native platform when using multiple buckets can be a bit of an issue.

[2022-10-17 16:03] HuiSF commented on #2017
Hi @kingmarleycoffee how many models have created in your Amplify App?

When the sync engine starts, it creates subscriptions to App Sync for each model that you have in the App, and each model creates 3 subscription (create, update and delete).

Looking at the logs you provided, the subscription seemed working correctly, the issue actually happened on syncing the `Users` model.

[code]

 I believ

[2022-10-19 07:03] pcanas commented on #1926
@sdhuka any updates? thanks!

[2022-10-19 14:34] AnilMaktala commented on #2020
Hi @RamaTechnology 👋 , we already have ticket for this issue, hence closing this one. Please refer to https://github.com/aws-amplify/amplify-android/issues/2017 for updates.

[2022-10-19 14:45] AnilMaktala commented on #1997
Hey @ala-harri 👋 , are you using the custom lamba as conflict resolution strategy?

[2022-10-19 14:48] AnilMaktala commented on #1945
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-19 14:48] #1945 closed

[2022-10-19 15:05] AnilMaktala commented on #1982
Hey @pcanas 👋, Thank you for raising the issue. You need to delete at least one record to see the _deleted field in the dynamoDB table. Please verify after deleting the record and let us know if you still need more information.

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/3206171/196729366-6466a193-b168-48c4-aadb-8f8daee21c6d.png">

[2022-10-19 15:08] #1982 closed

[2022-10-19 18:31] AnilMaktala commented on #2035
Hi @airon-tark 👋 , we are working on reproducing the issue, could you please run below command and send us the report amplify diagnose --send-report

[2022-10-19 18:57] AnilMaktala commented on #2012
Hi @ragingsquirrel3 👋 , could you please send us your graphql schema?

[2022-10-20 07:04] ala-harri commented on #1997
@AnilMaktala Yes custom lamba.

[2022-10-21 14:00] AnilMaktala commented on #2017
Hi @kingmarleycoffee 👋, Will you be able to share your graphql schema?

[2022-10-21 15:33] sdhuka commented on #1726
@rchampa Please re-open if the above suggestion didn't address the issue.

[2022-10-21 15:33] #1726 closed

[2022-10-21 15:41] tylerjroach commented on #2013
@wangf1978 We let the clientMetadata to be passed in validationData to prevent breaking implementations. We have also added the clientMetadata to properly be passed in signIn, so the data should be accessible as `clientMetadata` in both the pre and post triggers. The fix will be live in the next relesase.

[2022-10-21 15:41] #2013 closed

[2022-10-21 16:10] sdhuka commented on #1926
@pcanas I will try to repro this on my end, but it would be helpful if you could share the logs after the device goes online to investigate why the upload is not resumed.

[2022-10-23 00:16] wangf1978 commented on #2013
@tylerjroach  thanks for your clarification, I can't wait for your new release:)

[2022-10-24 13:59] AnilMaktala commented on #1997
@ala-harri will you be able to share the graphql schema and custom lamda logic?

[2022-10-24 14:31] RamaTechnology commented on #2017
Hi @HuiSF  , actually I have 37 models in my App.

I tried to test my app with empty tables, I just insert only one record in non-related table and tried to retrieve this data and these duplicate and slow issue appear.

[2022-10-24 19:55] chrisbonifacio commented on #1660
@maheshordex since you have another related issue open and we've had trouble scheduling a call, would you be open to discussing this issue on Discord?

https://discord.gg/Bm8ASDfr

If you join the server and ping me @chrisbon#5450 or @Anil Maktala#2550 then we can start a real-time thread regarding this issue and even discuss in a private voice channel if that's alright with you. Just trying to ma

[2022-10-24 19:58] chrisbonifacio commented on #1865
The cause of this issue is as explained in my earlier comment. The use of the `@primaryKey` directive, resulting in a custom primary key in the DynamoDB table, is not yet supported by DataStore but the feature is planned for release soon. We'll update here again once it is to verify the fix.

[2022-10-24 20:14] chrisbonifacio commented on #2017
Just out of curiosity, how many records might you be syncing down per model/table?

Also, we noticed you have 37 models. You would be hitting a subscription limit of 100 set by AppSync because DataStore subscribes to create, update, and delete mutations on all models. At 33 models, that is 99 subscriptions already. To increase this limit, you have to open a support ticket for a service limit incre

[2022-10-24 21:36] joekiller opened #2052 "Memory pressure can rise during outbox draining"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Java

### Amplify Categories

DataStore

### Gradle script dependencies

<details>

[code]

</details>

### Environment informati

[2022-10-25 06:28] RamaTechnology commented on #2017
Hi @chrisbonifacio, thanks for response, the records might be more than 1000, but I got same sync time when I am retrieving one record.
Where I should open the ticket that you mentioned. and what exactly the process and procedure that I should go forward.

[2022-10-25 07:48] PineapplePie commented on #1990
@zeroarst not from side...

Any updates on this?

[2022-10-25 08:57] zeroarst commented on #1990
My issue is I didn't setup the Activity to handle the callback.
https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/android/#update-androidmanifestxml

If you look at the source code of `HostedUIRedirectActivity`. It just calles `Amplify.Auth.handleWebUISignInResponse(getIntent())`. Which means you could setup deep link or android link to your activity and in the new intent, just call the s

[2022-10-25 09:20] PineapplePie commented on #1990
@zeroarst hmm, I mentioned that in the second part of this bug report:

2. Change 'Allowed sign-out URLs' in console to "[name_of_my_app]://signout" and assign it to a separate activity as it described here - https://docs.amplify.aws/lib/auth/social/q/platform/android/#update-androidmanifestxml. Currently we have the same URL for Allowed callback URLs and Allowed sign-out URLs in the console, so I

[2022-10-25 13:56] AnilMaktala commented on #2017
Hey @RamaTechnology, You can request AppSync quota increase here:[link](https://us-east-1.console.aws.amazon.com/servicequotas/home/services/appsync/quotas/L-AA33EB36)

for more information on AppSync limits please refer this page:[link](https://docs.aws.amazon.com/general/latest/gr/appsync.html)

[2022-10-25 23:15] abdallahshaban557 commented on #1879
Closing this as a duplicate of https://github.com/aws-amplify/amplify-android/issues/1879

[2022-10-25 23:15] #1879 closed

[2022-10-25 23:19] abdallahshaban557 commented on #1327
Hi @AntoEko - we are working on enabling push notifications from the Amplify Android library in the near future! What are the use cases you are wanting to use it for?

[2022-10-26 12:14] #2020 closed

[2022-10-26 16:05] AnilMaktala commented on #1902
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-26 18:08] chrisbonifacio commented on #1794
Hey @joekiller we recently made some changes and are still doing internal verification, but can you let us know if you are still experiencing this issue?

[2022-10-26 20:43] joekiller commented on #1794
@chrisbonifacio We are running a fork at this point and perhaps we could run a few of our error provoking tests but I need some clarification to understand what you are asking so I'm going to blab a bit, ask a question of clarification, and then specify a test.

The primary problem of "this issue" is the mutation processor will halt processing when an exception rises to the [subscribe error handle

[2022-10-27 01:38] undefobj commented on #2052
Thanks @joekiller for the information here. I believe the reason that `Schedulers.single()` was originally used in the implementation was to enforce a serial execution of the Outbox which is required for correctness properties of the cloud synchronization process. We need a FIFO ordering so that the consumer can perform a GraphQL mutation as events have been causally performed by an application to

[2022-10-27 03:30] rayshi67 opened #2066 "DataStore (v1.37.5) Exception in App Start-up"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Java, Kotlin

### Amplify Categories

DataStore

### Gradle script dependencies

<details>

[code]

</details>

### Environment i

[2022-10-27 04:00] rayshi67 commented on #2066
Sorry the amplify version was upgraded from v1.32.1 to v1.37.5.

And with Amplify DataStore v1.37.5 on Android 8.1, it throws the SQLiteException as per the above bug description.

[2022-10-27 13:28] joekiller commented on #2052
The MutationOutbox seems to keep FIFO ordering fairly well with its underlying Node structure. I did not perceive any predicate actions occurring after the localStorageAdapter but I could be missing something if you could point it out. With the MutationOutbox appending to the tail when enqueue is executed and the mutationOutbox.markInFlight, allowing the huge blocking while(true) loop of drainMuta

[2022-10-27 19:35] a-alen opened #2069 "DataStore - ObserveQuery deleted items are showing"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Kotlin

### Amplify Categories

GraphQL API, DataStore

### Gradle script dependencies

<details>

[code]

</details>

### Enviro

[2022-10-28 14:06] eeatonaws commented on #1935
Closing due to inactivity. Please reopen this issue or create a new issue with the requested information if the issue persists.

[2022-10-28 14:06] #1935 closed

[2022-10-28 14:08] eeatonaws commented on #1549
Closing due to inactivity. Please reopen this issue or create a new issue if you are still experiencing the issue.

[2022-10-28 14:08] #1549 closed

[2022-10-28 14:11] eeatonaws commented on #1427
Closing due to inactivity. Please reopen this issue or create a new issue if you are still experiencing the issue.

[2022-10-28 14:11] #1427 closed

[2022-10-28 16:22] joekiller commented on #2066
I've seen this between 1.35.4 and 1.37.5 as well. The table is different because of the custom primary key feature and since the tables already exist I guess there isn't a migration of table columns to get that new column unless you delete your datastore.

[2022-10-28 16:24] joekiller commented on #2066
This is a similar problem to #1925 which was unresolved.

[2022-10-28 16:48] joekiller commented on #2066
The bug most likely came from the https://github.com/aws-amplify/amplify-android/releases/tag/release_v1.37.0 release with #1650. When a mutation is removed from the outbox and the application goes to update the ModelMetadata table, there will not be a column __typename.

[2022-10-28 19:48] gpanshu commented on #1990
Hi @PineapplePie thank you for posting this issue. I will be in touch once I have been to reproduce this. Thank you.

[2022-10-28 20:22] dengdan154 commented on #1968
Hi @lokalathlet, I have looked into this issue and currently having trouble reproducing this behavior. Does your app use multiple login methods (Such as hosted UI, api based sign in etc.) or just this single one?

[2022-10-29 10:47] naveenthontepu commented on #1867
Any update on when this will be releases?

[2022-10-29 22:58] rayshi67 commented on #2066
Thanks for looking into it.

Could someone please advice a work-around or a timeframe for the fix.

[2022-10-30 13:14] miszmaniac commented on #1968
I have a question regarding this. I wonder why app needs to display full screen CustomTab at first place?
This is really ugly UX experience.

[2022-10-30 15:40] lokalathlet commented on #1968
That is my problem, too. I have five different SmartPhones on my desk. Everyone shows this behaviour from time to time. Not deterministic at all.

[2022-10-30 15:45] lokalathlet commented on #1968
To whom you are asking this? I'm using just the API. Otherwise my plan is to migrate to a native solution. Eliminating the HostedUi way of authorize the user. But for the first step it saves a lot of time and code. But I agree to you. It is not  the best   user experience.

[2022-11-01 17:29] vitalnik opened #2077 "Pending mutation in mutation outbox breaks synchronization process."
### Description

Recreated the issue in a simple Todo Flutter project. Testing it on Android 11.

Adding local record to the DataStore while throttling Internet connection is causing this exception:

`Error ended observation of mutation outbox:
                 DataStoreException{message=Timeout processing PendingMutation{mutatedItem=SerializedModel{id='c11922ab-8d0d-4d2b-97a2-5c42abb38ab1', seria

[2022-11-02 12:35] ElementalSystems commented on #1932
My team has also experienced this - workaround (zero length body) works perfectly.

[2022-11-02 15:28] lawmicha commented on #2066
Thank you for bringing this to our attention @rayshi67 and for the links @joekiller, the PR's change to ModelMetadata table is here https://github.com/aws-amplify/amplify-android/pull/1650/files#diff-5cdf2885642e1d230ebe77616604dc89e3ed4deb7975f34b69159e0affd9dc27 It looks like we tried to reproduce the issue over in https://github.com/aws-amplify/amplify-android/issues/1925 but could not. A curso

[2022-11-02 15:58] lawmicha commented on #1925
Thanks for the stack trace @djsjr, more customers are seeing this over in https://github.com/aws-amplify/amplify-android/issues/2066

This looks to be in-line with what i think the repro steps are when directly developing an Android app (`v1.34.4` to `v1.37.5` rather than Flutter versions). We will have to investigate further

[2022-11-03 22:04] ragingsquirrel3 commented on #2012
Sure, pretty verbose, but there is one model here specifically for testing times which should be pretty obvious.

[code]

[2022-11-07 17:54] sdhuka commented on #1926
We tried to repro and could not repro on our end. It would be helpful if you could share the logs for us to investigate further.

[2022-11-08 20:11] tylerjroach commented on #1990
Hi @PineapplePie.

@zeroarst is correct, that `Amplify.Auth.handleWebUISignInResponse(getIntent())` needs to be called inside the custom sign out redirect activity to inform Amplify of the successful redirect. This is a documentation miss that we will update. If the `handleWebUISignInResponse` is not fired within 10 seconds, it will cause the time out.

As far as seeing the CustomTab "flash" (quic

[2022-11-08 20:47] tylerjroach commented on #1968
@lokalathlet, I still don't have an answer for you on why the redirect is failing for you around 10% of the time but I do see some issues here. Let's try to resolve this 1 step at a time.

We will be working on updating the HostedUI Sign Out documentation, especially around the suggestion to add a custom Sign Out redirect activity. The documentation is missing a step that if you implement a custom

[2022-11-08 21:26] lokalathlet commented on #1968
Hi @tylerjroach, my AndroidManifest.xml currently doesn't contain any custom sign in or out Activity configurations. Nevertheless I can see the issue.
<queries>
   ...
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="https" />
    </intent>
    <intent>
        <action android:name=
            "android.support.customtabs.action.CustomTabsServ

[2022-11-08 22:04] tylerjroach commented on #1968
@lokalathlet Thank you, thats great to know. It's possible that we are then seeing the timeouts because the redirect isn't happening (the reason the page remains open). This would appear to an issue such as the cognito url request hanging and the custom tab never redirecting back, but I would expect to see more reports of this if it were a common issue. Have you observed this issue happening with

[2022-11-09 11:48] PineapplePie commented on #1990
@tylerjroach hi, a huge thanks for the update!
Let me confirm my next steps then to be sure I haven't missed something.
I need to add this part from the documentation and set there my own activity:

[code]

Then I should fire the` Amplify.Auth.signOut() `call from any place in the app, it will proceed with the deeplink to my logout activity and inside the activity I should put `Amplify.Auth.handle

[2022-11-09 14:10] PineapplePie commented on #1990
@tylerjroach then I'm definitely missing something :c What's wrong with my implementation? I was trying to use the default SDK activity as it's intended, but ended up with time outs. Should be there something else besides the mentioned activity in the manifest file and handling callbacks from the `Amplify.Auth.signOut()` call that I'm not aware of?

[2022-11-09 15:15] tylerjroach commented on #1990
When you are seeing the timeouts, are you seeing the CustomTab flash open and close? I would only expect a timeout in that scenario if the CustomTab was hanging and not successfully redirecting? Could you post another log?

[2022-11-09 15:36] PineapplePie commented on #1990
@tylerjroach the flash/blink appears only after 10 seconds timeout. So I'm calling signOut(), assuming that everything else will be processed by HostedRedirect activity with my app's scheme, but actually I'm stuck at my activity with seeing it for 10 seconds. Then I see the blink, exception in the logs and I can proceed to sign in again.

[code]

[2022-11-09 15:48] vitalnik commented on #2077
Are there any updates on this issue? Or if you can suggest a workaround that would be greatly appreciated.

[2022-11-09 16:05] AnilMaktala commented on #1660
Hey @maheshordex and @shri-onecup, Please upgrade to the latest version and let us know if you still see the same issue.

[2022-11-09 16:18] AnilMaktala commented on #2017
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-11-09 16:18] #2017 closed

[2022-11-09 16:25] AnilMaktala commented on #2077
Hey @vitalnik 👋, we are testing out potential fix for this issue and we will report back with the updates soon.

[2022-11-09 18:24] tylerjroach commented on #1968
Are you explicitly setting the browser package to Chrome? A CustomTab supports more than just Chrome. By default, a CustomTab will launch with the users default browser. Was curious if you were observing any different behaviors depending on the browser. Are you observing this issue often in testing, or are you primarily seeing these issues on a logging tool?

[2022-11-09 19:11] lokalathlet commented on #1968
@tylerjroach My assumption was, that the default is set to the Chrome package if not set.

[code]
I observing the issue during testing.

[2022-11-10 00:25] Phobarp opened #2108 "Receiving NotAuthorizedException: Incorrect username or password on Android"

[2022-11-10 14:13] GSala opened #2102 "Auth - Dependency conflict with Play Review"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Kotlin - Coroutines

### Amplify Categories

Authentication

### Gradle script dependencies

<details>

[code]

</details>

### E

[2022-11-11 20:34] AnilMaktala commented on #2012
Hey @ragingsquirrel3  👋, Thanks for sharing the schema. We can replicate the issue with the details provided and marked this as a bug for the team to evaluate further.

<img width="588" alt="image" src="https://user-images.githubusercontent.com/3206171/201426764-ae1752fc-0001-4542-a3bf-15b6050df5be.png">

<img width="467" alt="image" src="https://user-images.githubusercontent.com/3206171/201426836

[2022-11-12 14:19] AnilMaktala commented on #2069
Hey @a-alen 👋, Thanks for raising the issue. We can replicate the issue and marked this as a bug for the team to evaluate further.

[2022-11-13 04:16] NicolasPrr commented on #934
@KannadukiAoi  did u solved?

[2022-11-13 11:10] a-alen commented on #2069
Hi, also - when there is a update mutation inside the application, ObserveQuery does not transmit/reacts to that data change. Is this wanted behavior or is it a bug? If it is a bug, should I open it as a new issue?

[2022-11-14 10:59] yaroslav-v commented on #1887
Hi guys! Are there any news regarding this topic?

[2022-11-14 16:40] yaroslav-v commented on #1887
@tylerjroach Thx!

[2022-11-14 17:40] div5yesh commented on #2108
`NotAuthorizedException` is a service exception. Please verify that the username exists in the user pool that is configured in Cognito and also verify that the user pool Id matches with user pool Id in the amplify config json file.

[2022-11-15 20:31] ten-skv opened #2117 "Amplify.Auth.fetchAuthSession() returns empty token even after successful login"
**Describe the bug**
Amplify.Auth.fetchAuthSession()  returns empty token even after successful login.
We are using both "Amplify.Auth.signInWithSocialWebUI" (some users using sso)  and "Amplify.Auth.signIn" (some users using our user/password).

**To Reproduce**
Try to use 2 different users.
1. Login with first user.
2. You will be successfully signed in and get session token.
3. Logout from that

[2022-11-15 20:40] ilmarioranen commented on #195
Couldn't have said it better. Incredibly weird that something so natural and needed by the industry seems to still be ignored.

[2022-11-16 05:00] dkman94 commented on #1607
Interested in this feature as well!

[2022-11-16 12:45] ZubairAkber opened #2123 "Amplify DataStore stops working after an internet reconnection"
### Description

Simply start the Amplify and set Observer on any of the table, when it gets ready and you receive the ready event simply disconnect your internet then you will see the exception that i have attached below, the problem starts when internet gets back and you didn't keep getting events and updates from Amplify

Websocket connection failed.
                 java.net.SocketException: S

[2022-11-16 18:36] eeatonaws commented on #2117
Thank you for reporting this issue. 1.4.1 is quite an old version of Amplify Android. Please try updating to the latest version of Amplify Android and let us know if the issue is still occurring.

[2022-11-17 21:15] gpanshu commented on #1618
Can you provide some more information on what the use case is what you are trying to achieve. The user information in V2 is now already stored in encrypted shared preferences. As of now I am resolving this ticket but Feel free to open another issue if you are still having issues or have further questions.

[2022-11-18 06:28] omar-faruk01 opened #2124 "Unauthorized access to"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Java

### Amplify Categories

GraphQL API, DataStore

### Gradle script dependencies

<details>

[code]

</details>

### Environm

[2022-11-18 06:31] omar-faruk01 commented on #2124
Kindly respond to this issue with urgency

[2022-11-18 07:42] omar-faruk01 commented on #2124
Takahiro Suzuki helped resolve

[2022-11-18 10:19] ngallazzi opened #2125 "Fatal Exception: com.amplifyframework.auth.AuthException: Sign-in with web UI failed"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Kotlin

### Amplify Categories

Authentication

### Gradle script dependencies

<details>

[code]

</details>

### Environment in

[2022-11-18 10:49] canberk-pensa commented on #1419
@sdhuka

I am also struggling with this issue, timeout/connection errors would be a great addition for my use case of uploadFile/downloadFile functions.

[2022-11-18 15:06] cyodrew opened #2126 "Core Kotlin - Transfer ID"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Kotlin, Kotlin - Coroutines

### Amplify Categories

Storage

### Gradle script dependencies

<details>

[code]

</details>

###

[2022-11-18 15:16] tylerjroach commented on #1938
@pcanas We have release Amplify Library for Android v2.0.0, which no longer uses the Foreground Service notification.

[2022-11-18 15:33] tylerjroach commented on #2126
Thank you for opening this issue! We will take a look internally and discuss the best way to enable better Kotlin Coroutine support.

[2022-11-18 16:27] tylerjroach commented on #2125
@ngallazzi, are you seeing 100% failure rate here? It looks like you are using the Kotlin Facade to make the API calls. As shown in the Kotlin Coroutines sample, this call should be wrapped in a try/catch to catch the AuthException.

The issue here is that the the Custom Tab attempted to load the WebDomain in the amplifyconfiguration.json file, and failed to resolve the host.

If you are seeing th

[2022-11-18 16:28] tylerjroach commented on #1887
@djsjr, @tracedmark, @yaroslav-v Amplify Library for Android v2.0.0 has been released and has removed the Foreground Transfer Notification.

[2022-11-18 17:17] yaroslav-v commented on #1887
@tylerjroach Hi! Thx for the update.

As far as I can see, it has breaking changes for the minimal OS version. So, it supports now Android 7.0 (Nougat) and higher.

Do you have any plans to port those changes that remove the Foreground Transfer Notification to v1.x? It'd be great because we still support Android 5+.

[2022-11-18 17:21] tylerjroach commented on #1887
We do not have plans to port the v2 work into v1 as it was almost a complete re-write from the v1 implementation. If using v2 is not possible at this time, the suggested workaround for v1 will still be required.

[2022-11-18 20:38] tylerjroach commented on #1968
@lokalathlet I've been able to finally replicate what you are reporting.

Sign in redirects seem to be functioning fine.

Sign out redirects work fine on me with Chrome but Firefox fails to dismiss.

We just released a new major version of Amplify (v2.0.0) and I do not observe this issue. This does appear to be a v1 library bug we will continue to look into, but if you are able to upgrade to v2, t

[2022-11-18 20:44] tylerjroach commented on #1990
@PineapplePie Can you describe the flash/blink you are seeing?

What I describe as a flash on the screen is a rapid creation and destruction of the CustomTab immediately after initiating the `signOut`call. This indicates the sign out successfully completed on the browser, and redirected back into the activity to continue the rest of the sign out flow.

We have a similar report where signOut timeou

[2022-11-18 21:09] gpanshu commented on #686
Hello @haverchuck we have addressed and fixed this in the V2 version of Amplify library for Android. If upgrading is an option for you please try that out.

[2022-11-18 21:09] #686 closed

[2022-11-18 21:28] gpanshu commented on #1486
Hi @fpabl0 can you elaborate what your use case is and how you would achieve that without sign in? From what I understand you will need to sign in using either escape hatch or your own apis and then store the session parameters in amplify. This is not possible to do since we are now using a state machine architecture and all other apis depend on the sign in state machine to be in the signed in sta

[2022-11-19 03:27] vasicer opened #2127 "I am trying to implement aws(amplify) social login in android. But it is not registered in the userpool"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Java

### Amplify Categories

Authentication

### Gradle script dependencies

<details>

[code]

</details>

### Environment info

[2022-11-19 10:48] #2127 closed

[2022-11-21 06:50] sayamimi opened #2129 "Amplify.Auth.confirmSignIn() does nothing after SignIn session expires"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Kotlin - Coroutines

### Amplify Categories

Authentication

### Gradle script dependencies

<details>

[code]

</details>

### E

[2022-11-21 13:40] PineapplePie commented on #1990
@tylerjroach, hey!

Yes, I'm talking about the same thing.

Thanks for the update and answers! Let me try to use it and I'll be back with the results on this particular issue once I migrate the library version.

[2022-11-21 16:50] ngallazzi commented on #2125
@tylerjroach thank you for the quick reply. No actually I'm not getting a 100% failure rate, it's probably due to unresolved host from time to time.
We wrapped the Auth call and now we are able to catch the exception. We didn't see the possibility of an exception in the first place unfortunately :(

[2022-11-21 16:50] #2125 closed

[2022-11-21 16:57] tylerjroach commented on #2125
@ngallazzi Glad this resolved your issue. All Kotlin Coroutine Facades should be try/caught. Instead of having an `onError` callback like the standard API's, errors are exposed as exceptions.

[2022-11-21 20:19] gpanshu commented on #2129
Hi @sayamimi thank you so much for opening this issue. We are looking into this and will get back to you once we have an answer.

[2022-11-22 07:53] lokalathlet commented on #1968
Hi @tylerjroach , I have migrated to v2. I'm wondering that the docs doesn't mention the Response Handler handling anymore (https://docs.amplify.aws/lib-v1/auth/signin_web_ui/q/platform/android/#add-response-handler v1.n). But the callback still takes place. (WEB_UI_SIGN_IN_ACTIVITY_CODE isn't available anymore). How the user should handle a cancellation without use this feature. Or did I miss som

[2022-11-22 14:16] #1926 closed

[2022-11-22 21:25] gpanshu commented on #1180
Hello @haverchuck if upgrade is an option for you and your users I would recommend upgrading to our V2 library where you can supply the option that you would like to sign in with even if you have something else in your configuration.

https://docs.amplify.aws/lib/q/platform/android/

`val options =
            AWSCognitoAuthSignInOptions.builder().authFlowType(AuthFlowType.USER_SRP_AUTH).build()`

[2022-11-23 02:14] KevinLam0308 opened #2136 "Getting SocketTimeoutException error after calling Amplify.API.query and set the limit more than 1_000"
### Before opening, please confirm:

- [x] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Java

### Amplify Categories

GraphQL API

### Gradle script dependencies

Used version:

    implementation 'com.amplifyframewor

[2022-11-23 03:00] KevinLam0308 commented on #2136
additional information:

SocketTimeoutException error is only happen when qurey Page 4's data, query Page 1, 2, 3 doesn't encounter this problem.

[2022-11-24 15:47] santaclawn opened #2138 "Vulnerability in the res/raw/ folder's files."
Im concerned about the files amplifyconfiguration.json and awsconfiguration.json in the "raw" folder. Since those files are in the "res" folder, they are easily reversed engineered and accessed. Anyone can download my apk, decompile it, and then get full access to those files, containng all the sensitive information of my backend, inclusive my API Key and endpoints. There is something I'm not doin

[2022-11-28 16:35] tylerjroach commented on #2138
Hi @santaclawn, please see https://docs.amplify.aws/cli/reference/files/#amplifyconfigurationjson

[2022-11-29 07:10] keyrunHORNET opened #2142 "MFA Authentication with Authenticator app is broken in Amplify Android 2.0.0"
### Before opening, please confirm:

- [x] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Kotlin

### Amplify Categories

Authentication

### Gradle script dependencies

<details>

[code]

</details>

### Environment in

[2022-11-29 15:36] jamesclement commented on #2124
What was the solution here ?

[2022-11-29 23:09] looksbo opened #2150 "Amplify S3 for Android doesn't upload metadata on V2.0.0"
### How did you install the Amplify CLI?

npm

### If applicable, what version of Node.js are you using?

_No response_

### Amplify CLI Version

10.5.1

### What operating system are you using?

Mac

### Did you make any manual changes to the cloud resources managed by Amplify? Please describe the changes made.

none

### Describe the bug

When trying to upload an image using sdk V2.0.0 on the fo

[2022-11-30 02:07] KevinLam0308 opened #2145 "Deploy failed if created 190 data modeling at local"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-android/discussions).

### Language and Async Model

Java

### Amplify Categories

GraphQL API

### Gradle script dependencies

<details>

[code]

</details>

### Environment informa

[2022-11-30 15:38] banji180 commented on #2145
We are currently looking into it and will keep you updated. In the meantime, can you help with the following questions:
1) Are you getting the error when you run amplify push command?
2) Can you share the error log?

[2022-11-30 16:00] AnilMaktala commented on #2123
Hi @ZubairAkber 👋 , we already have ticket for this issue, hence closing this one. Please refer to [https://github.com/aws-amplify/amplify-android/issues/1794](https://github.com/aws-amplify/amplify-android/issues/1794) for updates.

[2022-11-30 16:00] #2123 closed

[2022-11-30 16:01] KevinLam0308 commented on #2145
1.yes, I am getting the error when run amplify push command
2. I attached the error report and put at GraphQL schema, is that zip file included the error log? if not, I will get it for you afterwards, thanks.

[2022-11-30 17:38] banji180 commented on #2145
I don't think the error report is attached. Let me see if I'm able to reproduce it while I await your log file.

[2022-11-30 18:10] AnilMaktala commented on #2136
Hey @KevinLam0308 👋 , Thank you for raising this. Are you experiencing this when you use pagination with the 1K limit?